<div class="bgMain">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-6">
        <div class="login-container">
          <div class="row">
            <div class="col-md-12 center-content">
              <img
                src="../assets/images/LogoTuAp.png"
                class="logo__img"
                alt=""
                srcset=""
              />         
            </div>

            <div class="col-md-12 center-content">
              <h4 class="headerLogin">
                <FONT FACE="arial narrow"> El asistente de tu Negocio ! </FONT>
              </h4>
            </div>

            <div class="col-md-12 center-content">
              <h4 class="headerLogin">
                ¡Bienvenido! Por favor, ingrese a su cuenta.
              </h4>
            </div>
          </div>
          <div class="row content-fields">
            <div class="col-md-12 center-content">
              <input
                type="text"
                name=""
                class="input__fields"
                placeholder="Ingresa tu usuario"
              />
            </div>
            <div class="col-md-12 center-content">
              <input
                type="password"
                name=""
                class="input__fields"
                placeholder="Contraseña"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 center-content">
              <button class="btn btn__custom">Ingresar</button>
              

              <div class="row">
                <div class="col-md-12 center-content">
                  <button class="btn btn__custom">Registrate</button>
                  <a routerLink="/register" class="btn btn-link">Registrate</a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
